[submodule "software/gemmini-rocc-tests"]
	path = software/gemmini-rocc-tests
	url = git@github.com:ucb-bar/gemmini-rocc-tests.git 
[submodule "software/onnxruntime-riscv"]
	path = software/onnxruntime-riscv
	url = git@github.com:ucb-bar/onnxruntime-riscv.git
[submodule "software/libgemmini"]
	path = software/libgemmini
	url = git@github.com:ucb-bar/libgemmini.git
